{% block grid %}
    <div style='overflow-x:auto'>
        {% if hasFilters %}
            {{ form_start(form) }}
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                {% for column in this.columns %}
                    <th class="{{ column.blockName }}">{{ column.label|trans }}</th>
                {% endfor %}
                {% if this.hasActions or this.hasFilters %}
                    <th></th>
                {% endif %}
            </tr>
            <tr>
                {% if this.hasFilters %}
                    {% for column in this.columns %}
                        <th class="p-1">
                            {% if form.offsetExists(column.getFormKey) %}
                                {{ form_widget(form.offsetGet(column.getFormKey)) }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    {% if this.hasActions or this.hasFilters %}
                        <th>{{ form_widget(form.offsetGet('submit'), {attr: {class: 'btn btn-primary btn-sm float-end'}}) }}</th>
                    {% endif %}
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for row in this.rows %}
                <tr {{ this.rowCallback(row)|raw }}>
                    {% for column in this.columns %}
                        {{ block('column') }}
                    {% endfor %}
                    {% if this.hasActions or this.hasFilters %}
                        {{ block('column_action') }}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            {% if this.isHasAggregationColumns %}
                <tfoot style="border-top: 1px solid;">
                <tr>
                    {% for column in this.columns %}
                        <th>
                            {% if column.isAggregationColumn and column.isAggregationActive %}
                                {{ column.getOperatedValue }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </tfoot>
            {% endif %}
        </table>
        {% if hasFilters %}
            {{ form_end(form) }}
        {% endif %}
    </div>
    {% if this.hasPagination() and this.getPagination.pages > 1 %}
        <div class="d-flex justify-content-center">
            {{ renderNew(this.getPagination) }}
        </div>
    {% endif %}
{% endblock %}

{% block column_action %}
    <td>
        {% for action in this.getActions %}
            {% if action.resolveShow(row) %}
                <a class="{{ action.renderClasses() }} float-end"
                   href="{{ path(action.route, action.resolveParams(row)) }}">{{ action.label|trans }}</a>
            {% endif %}
        {% endfor %}
    </td>
{% endblock %}

{% block column %}
    <td class="{{ column.blockName }}">
        {% if column.hasRenderCallback %}
            {{ column.render(dotToKey(row, column.column), row, column) }}
        {% else %}
            {{ block(column.blockname) }}
        {% endif %}
    </td>
{% endblock %}

{% block text_column %}
    {% if column.hasLength() %}
        {{ column.splitText(dotToKey(row, column.column)) }}
    {% else %}
        {{ dotToKey(row, column.column) }}
    {% endif %}
{% endblock %}

{% block date_column %}
    {% set value = dotToKey(row, column.column) %}
    {% if value is not null %}
        <span style="white-space: nowrap;">{{ value.format(column.format) }}</span>
    {% endif %}
{% endblock %}

{% block yes_no_column %}
    {{ dotToKey(row, column.column) ? 'yes'|trans : 'no'|trans }}
{% endblock %}

{% block price_column %}
    {{ column.formatPrice(dotToKey(row, column.column)) }}
{% endblock %}

{% block number_column %}
    {{ column.processValue(dotToKey(row, column.column)) }}
{% endblock %}
{% block color_column %}
    <div style="
            background-color: {{ dotToKey(row, column.column) }};
            width: 1rem;
            height: 1rem;
            "></div>
{% endblock %}