{% set heading_tag = 'h3' %}
{% set cardType = 'card-bs' %}
{% if props is defined %}
    {% if props.heading_tag is defined %}
        {% set heading_tag = props.heading_tag %}
    {% endif %}
    {% if props.type is defined %}
        {% set cardType = props.type %}
    {% endif %}
{% endif %}
{% block card_before %}
{% endblock %}
<div class="card-wrapper">
    {% block tabs %}
    {% endblock %}
    <div class="{{ cardType }}">
        <div class="card-body">
            <{{ heading_tag }} class="card-title">
            {% block card_title %}

            {% endblock %}
            <span class="mx-1 actions">
                {% block card_title_buttons %}

                {% endblock %}
            </span>
        </{{ heading_tag }}>

        <div class="card-text">
            {% block card_body %}

            {% endblock %}
        </div>
        {% block card_links %}
        {% endblock %}
    </div>
</div>
</div>
{% block card_after %}
{% endblock %}