<nav>
    <ul class="pagination">
        {% if this.hasPrev() %}
        <li class="page-item">
            <a class="page-link" href="{{ this.componentLink(this, {'page': this.current - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page in 1..this.pages %}
            <li class="page-item {% if page == this.current %}active{% endif %}"><a class="page-link" href="{{ this.componentLink(this, {'page': page}) }}">{{ page }}</a></li>
        {% endfor %}
        {% if this.hasNext() %}
            <li class="page-item">
                <a class="page-link" href="{{ this.componentLink(this, {'page': this.current + 1}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>