<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap_5.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="{{ asset('jquery.js') }}"></script>
    </head>
    <style>
        :root {
            --primary: #b71c1c;
            --bs-primary: #b71c1c;
            --light-primary: #d50000;
            --bs-blue: #d50000;
        }
    </style>
    <body>
    <div class="container mt-5">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
