{% for item in items %}
    {% embed 'component/card.twig' %}
        {% block card_title %}
            {{ item.title|raw }}
        {% endblock %}
        {% block card_body %}
            {{ item.description|raw }}
        {% endblock %}
        {% block card_links %}
        {% endblock %}
        {% block card_after %}
            <div class="mb-3"></div>
        {% endblock %}
    {% endembed %}
{% endfor %}
{% if has_next %}
    <div class="d-flex justify-content-center">
        <button data-page="{{ page }}" type="button" class="load-more btn btn-primary">Načíst další</button>
    </div>
{% endif %}