{% extends 'base.html.twig' %}
{% block title %}
    Jobs
{% endblock %}

{% block body %}
    <div class="jobs">
    {{ list|raw }}
    </div>
    <script>
        function initLoadMore() {
            $('.load-more').click(function (e) {
                let button = $(this);
                let page = parseInt(button.data('page')) + 1;
                e.preventDefault();
                $.ajax('{{ path('route.main.index') }}', {
                    method: 'GET',
                    data: {
                        page: page
                    },
                    complete: function () {
                        initLoadMore();
                    },
                    success: function (data) {
                        button.parent().remove();
                        $('.jobs').append(data);
                    }
                })
            })
        }
        $(document).ready(function () {
            initLoadMore();
        });
    </script>
{% endblock %}